<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>maoWeiVideo.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3D9BB6126172B972BFD11F635D0AE4ECE07E22E5</string>
				<key>dateExpires</key>
				<string>2020/8/10</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7NKHHTFGTU.com.maowei.admin</string>
				<key>com.apple.developer.team-identifier</key>
				<string>7NKHHTFGTU</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>7NKHHTFGTU.com.maowei.admin</string>
				</array>
			</dict>
			<key>name</key>
			<string>maoWeiVideo.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b17a466e-d106-473d-998e-e302acbea2d2</string>
				<key>name</key>
				<string>NewDis</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7NKHHTFGTU</string>
				<key>name</key>
				<string>Haoting Zhen</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
